@font-face {
    font-family: Poppins-Regular;
    src: url('../fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-SemiBold;
    src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
  }

h2{
    font-family: Poppins-Bold;;
}

.main{
    width: 70%; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.signin-image{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
}

input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 20%;
    padding: 8px 14px;
    margin-top: 3%;
    border-radius: 5px;
    background-color: #7CD8FF;
}

input[type=cancel]{
    width: 10%;
    padding: 8px 14px;
    margin-top: 3%;
    border-radius: 5px;
    background-color: #a1a1a1;
    color: #fff;
    text-align: center;
    margin-left: 5%;
}