option_settings:
  - option_name: DD_AGENT_MAJOR_VERSION
    value: "7"
  - option_name: DD_AGENT_MINOR_VERSION
    value: ""

files:
  "/etc/datadog-agent/datadog.yaml":
    mode: "000640"
    owner: root
    group: root
    content: |
      # Add here the Agent configuration
      api_key: '`{"Fn::GetOptionSetting": {"Namespace":
      "aws:elasticbeanstalk:application:environment", "OptionName": "datadog_api_key"}}`'
      site: ap1.datadoghq.com

  "/datadog_install_script.sh":
    mode: "000700"
    owner: root
    group: root
    source: https://s3.amazonaws.com/dd-agent/scripts/install_script_agent7.sh

container_commands:
  05setup_datadog:
    command: "DD_API_KEY=api_key /datadog_install_script.sh; sed -i 's/ install_script/ ebs_install_script/' /etc/datadog-agent/install_info"