packages:
  yum:
    gcc-c++: [] 
    make: []
sources:
  /home/ec2-user: http://download.redis.io/releases/redis-6.2.6.tar.gz
commands:
  redis_build:
    command: make
    cwd: /home/ec2-user/redis-6.2.6
  redis_config_001:
    command: sed -i -e "s/daemonize no/daemonize yes/" redis.conf
    cwd: /home/ec2-user/redis-6.2.6
  redis_config_002:
    command: sed -i -e "s/# maxmemory <bytes>/maxmemory 500MB/" redis.conf
    cwd: /home/ec2-user/redis-6.2.6
  redis_config_003:
    command: sed -i -e "s/# maxmemory-policy volatile-lru/maxmemory-policy allkeys-lru/" redis.conf
    cwd: /home/ec2-user/redis-6.2.6
  redis_server:
    command: src/redis-server redis.conf
    cwd: /home/ec2-user/redis-6.2.6
  start-redis:
    command: /home/ec2-user/start-redis.sh
files:
  "/home/ec2-user/start-redis.sh" :
    mode: "000600"
    owner: root
    group: root
    content: |
      #!/bin/bash
      cd /home/ec2-user/redis-6.2.6/src/
      killall -9 redis-server
      ./redis-server --daemonize yes --protected-mode no
  "/home/ec2-user/install_redis.sh":
      mode: "000600"
      owner: root
      group: root
      content: |
        #!/bin/bash
        if ! pecl7 list | grep redis >/dev/null 2>&1; then
          pecl7 channel-update pecl.php.net
          printf "no\n" | pecl7 install redis
          sed -i '/redis.so/d' /etc/php.ini
          echo "extension=redis.so" | sudo tee /etc/php.d/40-redis.ini
        fi
commands:
  10_install_redis:
    command: /bin/bash /home/ec2-user/start-redis.sh
  10_install_predis:
    command: /bin/bash /home/ec2-user/install_redis.sh

