packages:
  rpm:
    epel: https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
  yum:
    php-pecl-redis: [] 
    bison: []
    byacc: []
    cscope: []
    ctags: []
    diffstat: []
    doxygen: []
    elfutils: []
    flex: []
    gcc-gfortran: []
    indent: []
    intltool: []
    libtool: []
    patch: []
    patchutils: []
    rcs: []
    rpm-build: []
    rpm-sign: []
    swig: []
    system-rpm-config: []
    systemtap: []
    dwz: []
    efivar-libs: []
    elfutils-libelf-devel: []
    emacs-filesystem: []
    gdb: []
    gettext-common-devel: []
    gettext-devel: []
    go-srpm-macros: []
    kernel-devel: []
    libgfortran: []
    mokutil: []
    perl-XML-Parser: []
    perl-srpm-macros: []
    systemtap-client: []
    systemtap-devel: []
sources:
  /home/ec2-user/test: https://pecl.php.net/get/redis-5.3.3.tgz



