packages:
  yum:
    bison: []
    byacc: []
    cscope: []
    ctags: []
    diffstat: []
    doxygen: []
    elfutils: []
    flex: []
    gcc-gfortran: []
    indent: []
    intltool: []
    libtool: []
    patch: []
    patchutils: []
    rcs: []
    rpm-build: []
    rpm-sign: []
    swig: []
    system-rpm-config: []
    systemtap: []
    dwz: []
    efivar-libs: []
    elfutils-libelf-devel: []
    emacs-filesystem: []
    gdb: []
    gettext-common-devel: []
    gettext-devel: []
    go-srpm-macros: []
    kernel-devel: []
    libgfortran: []
    mokutil: []
    perl-XML-Parser: []
    perl-srpm-macros: []
    systemtap-client: []
    systemtap-devel: []
  rpm:
    epel: https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
    epel: https://download.fedoraproject.org/pub/epel/7/SRPMS/Packages/p/php-pecl-redis-2.2.8-1.el7.src.rpm
    

sources:
  /home/ec2-user: https://pecl.php.net/get/redis-5.3.3.tgz
commands:
  initial: 
    command: tar -zxvf redis-5.3.3.tgz
    cwd: /home/ec2-user
  redis_config_000:
    command: phpize
    cwd: /home/ec2-user/redis-5.3.3
  redis_config_001:
    command: ./configure
    cwd: /home/ec2-user/redis-5.3.3
  redis_config_002:
    command: make
    cwd: /home/ec2-user/redis-5.3.3
  redis_config_003:
    command: sudo make install
    cwd: /home/ec2-user/redis-5.3.3
  redis_config_004:
    command: sed -i '/redis.so/d' /etc/php.ini
    cwd: /home/ec2-user/redis-5.3.3
  redis_config_005:
    command: echo "extension=redis.so" | sudo tee /etc/php.d/40-redis.ini
    cwd: /home/ec2-user/redis-5.3.3
  restart-redis:
    command: sudo systemctl restart php-fpm
    cwd: /home/ec2-user/redis-5.3.3


